cred-web/.vscode
cred-web/node_modules
cred-web/.env
cred-web/dist

cred-api/.env
cred-api/README.md
cred-api/node_modules
cred-api/dist
cred-api/coverage
cred-api/docker/docker-compose.resolved.yml
cred-api/API.md

# OS
.DS_Store

# Logs
*.log

CLAUDE.md
CONTEXT.md
FLOW.md
API.md
PRODUCT.md
MARKET_STRATEGY.md

node_modules
